@media screen and (max-width:1800px) {
    .container {
        .header {
            .nav {
                > img {
                }
                .nav_logo {
                    span {
                    }
                }
            }
            .preview {

                h1 {
                }
                .navigation {
                    a {
                    }
                }
            }
        }
        .main {
            .main_play {
                .main_play-title {
                    h1 {
                    }
                    a {
                    }
                }
                .main_play-description {
                    .newsCard {
                        .newsCard-description {
                            h3 {
                            }
                            p {
                            }
                            a {
                            }
                        }
                    }
                }
            }
            .main_learn {
                
                .main_learn-title {
                    h1 {
                    }
                    a {
                    }
                }
                .main_learn-description {
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    .main_learn-description-left {
                        margin: 0 auto;
                        .description-left-sections {
                            .description-left-tags {
                            }
                        }
                        .description-left-coaches {
                        }
                    }
                    .main_learn-description-right {
                        .description-right-wrap {
                            display: none;
                            .video_tutorials {
                                .video_tutorials-content {
                                }
                            }
                            .articles_tutorial {
                                .articles_tutorial-content {
                                }
                            }
                            .termin_tutorials {
                                .termin_tutorials-content {
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            .footer_desctop-title {
                font-size: 30px;
            }

            .footer_QR-code {
                top: 100px;
            }

            .desctop {
                width: 500px;
            }
        }
    }
}


@media screen and (max-width: 1280px) {
    .container {
        .header {
            .nav {
                .nav_menu {
                    margin-left: 20px;
                    padding-left: 0;
                }
            }
        }
        .main {
            .main_play {
                .main_play-title {
                    h1 {
                    }
                    a {
                    }
                }
                .main_play-description {
                    .newsCard {
                        .newsCard-description {
                            h3 {
                            }
                            p {
                            }
                            a {
                            }
                        }
                    }
                }
            }
            .main_learn {
                
                .main_learn-title {
                    h1 {
                    }
                    a {
                    }
                }
                .main_learn-description {
                    .main_learn-description-left {
                        .description-left-sections {
                            max-width:900px;
                            background-position: right;

                            h3 {
                                font-size: 20px;
                            }
                            .description-left-tags {
                                font-size: 12px;
                            }
                        }
                        .description-left-coaches {
                            max-width:900px;

                            h3 {
                                font-size: 20px;
                            }
                            .description-left-tags {
                                font-size: 12px;
                            }

                        }
                    }
                    .main_learn-description-right {
                        .description-right-wrap {
                            .video_tutorials {
                                .video_tutorials-content {
                                }
                            }
                            .articles_tutorial {
                                .articles_tutorial-content {
                                }
                            }
                            .termin_tutorials {
                                .termin_tutorials-content {
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            .footer_desctop-title {
                font-size: 20px;
                max-width: 600px;
            }

            .footer_QR-code {
                padding: 24px;
                width: 235px;
                height: 267px;
                top: 150px;
                right: 150px;

                > img {
                    max-width: 120px;
                }
                .QR-code_device {
                    margin-top: 10px;
                }
                .QR-code_action {
                    margin-top: 10px;
                    font-size: 10px;
                }
            }

            .desctop {
                width: 300px;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .container {
        .header {
            .nav {
                position: relative;
                .nav_menu {
                    display: none;
                }
                > img {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .nav_menu-mobile {
                    img {
                        width: 32px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 12px;
                    }
                    span {
                        display: none;
                    }
                }
            }
        }
        .main {
            .main_play {
                .main_play-title {
                    
                }
                .main_play-description {
                    .newsCard {
                        .newsCard-description {
                            h3 {
                                font-size: 20px;
                            }
                            p {
                                font-size: 14px;
                            }
                            a {
                                font-size: 10px;
                                padding: 10px 14px;
                            }
                        }
                    }
                }
            }
            .main_learn {
                
                .main_learn-title {
                    h1 {
                    }
                    a {
                    }
                }
                .main_learn-description {
                    .main_learn-description-left {
                        .description-left-sections {
                            width: 700px;

    
                            h3 {
                                width: 272px;
                            }
                            .description-left-tags {
                            }
                        }
                        .description-left-coaches {
                            width: 700px;
    
                            h3 {
                                width: 272px;

                            }
                            .description-left-tags {
                            }
    
                        }
                    }
                    .main_learn-description-right {
                        .description-right-wrap {
                            .video_tutorials {
                                .video_tutorials-content {
                                }
                            }
                            .articles_tutorial {
                                .articles_tutorial-content {
                                }
                            }
                            .termin_tutorials {
                                .termin_tutorials-content {
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 760px) {
    .container {
        padding: 12px;
        .header {
            .nav {
                > img {
                    width: 70px;
                    height: 32px;
                }
                .nav_logo {
                    padding: 9px;
                    span {
                        display: none;
                    }
                }
            }
            .preview {

                h1 {
                    font-size: 26px;
                    padding: 240px 12px 12px 12px;
                }
                .navigation {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    a {
                        border-radius: 10px;
                        padding: 10px 14px;
                    }
                }
            }
        }
        .main {
            .main_play {
                .main_play-title {
                    h1 {
                        font-size: 26px;
                    }
                    a {
                        font-size: 14px;
                        width: 140px;
                    }
                }
                .main_play-description {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    .newsCard {
                        .newsCard-description {
                            h3 {
                            }
                            p {
                            }
                            a {
                            }
                        }
                    }
                }
            }
            .main_learn {
                .main_learn-title {
                    h1 {
                        font-size: 26px;
                    }
                    a {
                        font-size: 14px;
                        width: 140px;
                    }
                }
                .main_learn-description {
                    padding: 0;
                    .main_learn-description-left {
                        .description-left-sections {
                            background-image: url('images/main_mobile.png');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            width: 500px;

                            .description-left-tags {
                            }
                        }
                        .description-left-coaches {
                            width: 500px;

                            h3 {
                                margin-bottom: 126px;
                            }

                            .description-left-tags {
                                max-width: 400px;
                            }
                        }
                    }
                    .main_learn-description-right {
                        .description-right-wrap {
                            .video_tutorials {
                                .video_tutorials-content {
                                }
                            }
                            .articles_tutorial {
                                .articles_tutorial-content {
                                }
                            }
                            .termin_tutorials {
                                .termin_tutorials-content {
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            .footer_desctop-title {
            }

            .footer_app {
                flex-direction: column;
                gap: 24px;
            }

            .footer_QR-code {

                > img {
                }
                .QR-code_device {
                }
                .QR-code_action {
                }
            }

            .desctop {
                right: -12px;
                bottom: -12px;
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .container {
        .header {
            margin-bottom: 42px;
            .nav {
                > img {
                }
                .nav_logo {
                    span {
                    }
                }
            }
            .preview {
                h1 {
                }
                .navigation {
                    a {
                    }
                }
            }
        }
        .main {
            .main_play {
                margin-bottom: 42px;
                .main_play-title {
                    margin-bottom: 21px;
                    h1 {
                    }
                    a {
                    }
                }
                .main_play-description {
                    .newsCard {
                        > img {
                            margin-bottom: 28px;
                        }
                        .newsCard-description {
                            h3 {
                            }
                            p {
                            }
                            a {
                            }
                        }
                    }
                }
            }
            .main_learn {
                margin-bottom: 42px;
                .main_learn-title {
                    margin-bottom: 17px;
                    h1 {
                    }
                    a {
                    }
                }
                .main_learn-description {
                    gap: 0;

                    .main_learn-description-left {
                        .description-left-sections {
                            padding: 12px;
                            width: 296px;
                            height: 400px;

                            h3 {
                                margin-bottom: 220px;
                            }

                           

                            .description-left-tags {
                                a {
                                    font-size: 10px;
                                    border-radius: 20px;
                                }
                            }
                        }
                        .description-left-coaches {
                            padding: 12px;
                            width: 296px;
                            height: 400px;

                            h3 {
                                margin-bottom: 126px;
                            }

                           

                            .description-left-tags {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                a {
                                    width: max-content;
                                    font-size: 10px;
                                    border-radius: 20px;
                                    max-width: 218px;
                                }
                            }

                            .description-left-tags {
                            }
                        }
                    }
                    .main_learn-description-right {
                        .description-right-wrap {
                            .video_tutorials {
                                .video_tutorials-content {
                                }
                            }
                            .articles_tutorial {
                                .articles_tutorial-content {
                                }
                            }
                            .termin_tutorials {
                                .termin_tutorials-content {
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            padding-top: 20px;
            .footer_desctop-title {
                display: none;
                
            }
            .footer_mobile-title {
                display: block;
                margin: 0;
                color: #202020;
                font-size: 20px;
                max-width: 290px;
            }

            .footer_app {
            }

            p {
                font-size: 10px;
                margin-top: 165px;
            }

            .footer_QR-code {
                display: none;

                > img {
                }
                .QR-code_device {
                }
                .QR-code_action {
                }
            }

            .desctop {
                display: none;
            }
            .mobile {
                display: block;
                position: absolute;
                top: 215px;
                right: -12px;
    
            }
        }
    }
}
@media screen and (max-width: 350px) {
    .container {
        .header {
            .nav {
                > img {
                }
                .nav_logo {
                    span {
                    }
                }
            }
            .preview {
                &.preview_image-1 {
                    background-image: url('images/mobile-header.png');
                }
                h1 {
                }
                .navigation {
                    a {
                    }
                }
            }
        }
    }
}