@font-face {
    font-family: 'DrukWideCyr';
    src: url('fonts/Druk/DrukWideCyr-Bold.woff') format('woff'),
    url('fonts/Druk/DrukWideCyr-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Commissioner';
    src: url('fonts/Commissioner/Commissioner-Bold.woff') format('woff'),
    url('fonts/Commissioner/Commissioner-Bold.woff2') format('woff2'),
    url('fonts/Commissioner/Commissioner-Regular.woff') format('woff'),
    url('fonts/Commissioner/Commissioner-Regular.woff2') format('woff2')
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


// .inter-<uniquifier> {
//     font-family: "Inter", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

body {
    font-family: "DrukWideCyr", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    max-width: 1920px;
    margin: 0 auto;
}
.container {
    background-color: #ECECEC;
    padding: 20px;

    .header {
        margin-bottom: 120px;

        .nav {
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding: 14px 20px;

            .nav_menu {
                display: flex;
                font-weight: 700;
                list-style: none;
                margin-left: 64px;
                font-size: 14px;

                li {
                    padding-right: 24px;
    
                    &:last-child {
                        padding-right: 0;
                    }
    
                    a {
                        color: #000;
                        text-decoration: none;
                        font-family: "DrukWideCyr", sans-serif;
                    }
                }
            }
        }

        .nav_menu-mobile {
            margin-left: auto;
            color: #000;
            text-decoration: none;
            font-family: "DrukWideCyr", sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 8px;
            padding: 9px 16px;
        }
    
        .nav_logo {
            margin-left: 6px;
            color: #000;
            text-decoration: none;
            font-family: "DrukWideCyr", sans-serif;
            background-color: #EFEFEF;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;
            padding: 9px 3px 9px 16px;
        }

        .preview {
            box-sizing: border-box;
            width: 100%;
            padding: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
            text-transform: uppercase;
            background-image: url('images/3.webp');
    
    
            &.preview_image-1 {
                background-image: url('images/3.webp');
            }

            &.preview_image-2 {
                background-image: url('images/2.webp');
            }

            &.preview_image-3 {
                background-image: url('images/1.webp');
            }
    
            h1 {
                font-weight: 700;
                font-size: 80px;
                color: #FFFFFF;
                margin: 0;
                padding: 506px 0 48px 20px;
            }
    
            .navigation {
                display: flex;
                justify-content: space-between;
                gap: 8px;
    
                a {
                    box-sizing: border-box;
                    position: relative;
                    text-decoration: none;
                    display: inline-block;
                    background-color: #FFFFFF;
                    color: #202020;
                    max-width: 760px;
                    width: 100%;
                    cursor: url('images/icons/pointer.svg'), pointer;
                    border-radius: 20px;
                    padding: 20px 24px;
    
                    &:after {
                        content: url('images/icons/right_arrow-white.svg');
                        position: absolute;
                        right: 20px;
                    }
    
                    &:hover {
                        background-color: #F36722;
                        color: #FFFFFF;
                    }
                }
            }
        }  
    }

  

    .main {
        .main_play {
            margin-bottom: 120px;
            .main_play-title {
                display: flex;
                justify-content: space-between;
                align-items: end;
                margin-bottom: 64px;

                h1 {
                    font-weight: 700;
                    font-size: 80px;
                    margin: 0;
                }

                a {
                    font-weight: 700;
                    font-size: 20px;
                    position: relative;
                    text-decoration: none;
                    display: inline-block;
                    color: #F36722;
                    width: 187px;
                    cursor: url('images/icons/pointer.svg'), pointer;

                    &:after {
                        content: url('images/icons/right_arrow-orange.svg');
                        position: absolute;
                        right: 0;
                    }

                    &:hover {
                        color: #FFFFFF;
                    }

                    &:hover::after {
                        content: url('images/icons/right_arrow-white.svg');
                    }
                }
            }

            .main_play-description {
                display: flex;
                justify-content: space-between;
                column-gap: 8px;

                .newsCard {
                    background-color: #FFFFFF;
                    max-width: 621px;
                    width: 100%;
                    max-height: 784px;
                    overflow: hidden;
                    border-radius: 20px;

                    .newsCard-description {
                        padding: 0 24px 24px 24px;
                    }

                    h3 {
                        margin: 0;
                        font-weight: 700;
                        font-size: 32px;
                    }

                    p {
                        font-family: 'Inter', sans-serif;
                        text-transform: none;
                        font-weight: 500;
                        font-size: 16px;
                        max-width: 440px;
                    }

                    a {
                        display: none;
                    }

                    img {
                        margin-bottom: 62px;
                        width: 100%;
                        max-height: 520px;
                        object-fit: contain;
                    }

                    &:nth-child(2) {

                        img {
                            width: 75%;
                            margin-left: 25%;
                        }
                    }

                    &:hover {
                        background-color: #000000;
                        color: #FFFFFF;

                        img {
                            margin-bottom: 20px;
                        }

                        a {
                            box-sizing: border-box;
                            position: relative;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            background-color: #F36722;
                            color: #FFFFFF;
                            max-width: 608px;
                            font-size: 16px;
                            width: 100%;
                            cursor: url('images/icons/pointer.svg'), pointer;
                            border-radius: 20px;
                            padding: 20px 24px;

                            &:after {
                                content: url('images/icons/right_arrow-white.svg');
                                position: absolute;
                                right: 20px;
                            }
                        }
                    }
                }
            }
        }
        .main_learn {
            margin-bottom: 120px;
            background-color: #FFFFFF;
            border-radius: 20px;
            .main_learn-title {
                display: flex;
                justify-content: space-between;
                align-items: end;
                margin-bottom: 64px;

                h1 {
                    font-weight: 700;
                    font-size: 80px;
                    margin: 0;
                }

                a {
                    font-weight: 700;
                    font-size: 20px;
                    position: relative;
                    text-decoration: none;
                    display: inline-block;
                    color: #2E8D43;
                    width: 187px;
                    cursor: url('images/icons/pointer.svg'), pointer;

                    &:after {
                        content: url('images/icons/right_arrow-green.svg');
                        position: absolute;
                        right: 0;
                    }

                    &:hover {
                        color: #FFFFFF;
                    }

                    &:hover::after {
                        content: url('images/icons/right_arrow-white.svg');
                    }
                }
            }
            .main_learn-description {
                display: flex;
                padding: 0 24px;
                gap: 16px;

                .main_learn-description-left {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    & > * {
                    border-radius: 15px;
                    }

                    .description-left-sections {
                        box-sizing: border-box;
                        max-width: 1194px;
                        max-height: 611px;
                        padding: 24px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        background-image: url('images/main.png');

                        h3 {
                            margin: 0;
                            margin-bottom: 357px;
                            font-weight: 700;
                            font-size: 48px;
                            color: #FFFFFF;
                            width: 753px;
                        }
                        .description-left-tags {
                            display: flex;
                            flex-wrap: wrap;
                            max-width: 545px;
                            gap: 6px;

                            a {
                                color: #2E8D43;
                                padding: 8px 12px;
                                text-decoration: none;
                                width: auto;
                                border-radius: 39px;
                                background-color: #FFFFFF;
                                font-weight: 700;
                                font-size: 12px;
                            }
                        }
                    }

                    .description-left-coaches {
                        box-sizing: border-box;
                        width: 1194px;
                        padding: 24px;
                        display: flex;
                        flex-direction: column;
                        // justify-content: space-between;
                        background-color: #2E8D43;

                        h3 {
                            margin: 0;
                            font-weight: 700;
                            font-size: 48px;
                            color: #FFFFFF;
                            width: 881px;
                            margin-bottom: 62px;
                        }
                        .description-left-tags {
                            display: flex;
                            flex-wrap: wrap;
                            max-width: 545px;
                            gap: 6px;

                            a {
                                color: #FFFFFF;
                                background-color: rgba($color: #FFFFFF, $alpha: 0.2);
                                text-decoration: none;
                                padding: 8px 12px;
                                width: auto;
                                border-radius: 39px;
                                font-weight: 700;
                                font-size: 12px;

                                &:hover {
                                    color: #2E8D43;
                                    background-color: #FFFFFF;
                                }
                            }
                        }
                    }
                }
                .main_learn-description-right {

                    display: flex;
                    flex-direction: column;
                    border-left: 1px solid #C4C4C4;



                    .description-right-wrap {
                        padding: 20px 16px;
                        border-bottom: 1px solid #C4C4C4;


                        &:first-child {
                            padding-top: 0;
                        }

                        &:last-child {
                            border-bottom: none;
                        }
    
                        h5 {
                            margin: 0;
                            font-size: 20px;

                            a {
                                font-weight: 700;
                                font-size: 20px;
                                position: relative;
                                text-decoration: none;
                                display: inline-block;
                                color: #2E8D43;
                                width: 187px;
                                cursor: url('images/icons/pointer.svg'), pointer;
            
                                &:after {
                                    content: url('images/icons/right_arrow-green.svg');
                                    position: absolute;
                                    right: 0;
                                }
            
                                &:hover {
                                    color: #FFFFFF;
                                }
            
                                &:hover::after {
                                    content: url('images/icons/right_arrow-white.svg');
                                }
                            }

                        }
    
                        .video_tutorials {
                            display: flex;
                            column-gap: 20px;
                            margin-top: 103px;

                            .video_tutorials-content {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                p {
                                    margin: 0;
                                }
    
                                a {
                                    align-self: start;
                                    font-size: 12px;
                                    color: #202020;
                                    text-decoration: none;
                                    background-color: #EFEFEF;
                                    padding: 8px 12px;
                                    border-radius: 39px;
                                }
                            }
                        }

                        .articles_tutorial {
                            display: flex;
                            column-gap: 20px;
                            margin-top: 144px;

                            .articles_tutorial-content {
                                width: 464px;

                                a {
                                    align-self: start;
                                    font-size: 12px;
                                    color: #202020;
                                    text-decoration: none;
                                    background-color: #EFEFEF;
                                    padding: 8px 12px;
                                    border-radius: 39px;
                                }
                            }
                        }

                        .termin_tutorials {
                            display: flex;
                            column-gap: 20px;
                            margin-top: 225px;

                            .termin_tutorials-content {

                                a {
                                    align-self: start;
                                    font-size: 12px;
                                    color: #202020;
                                    text-decoration: none;
                                    background-color: #EFEFEF;
                                    padding: 8px 12px;
                                    border-radius: 39px;

                                    &:hover {
                                        background-color: #202020;
                                        color: #FFFFFF;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        position: relative;
        border-top: 1px solid #202020;
        padding-top: 35px;

        .footer_desctop-title {
            margin: 0;
            font-size: 48px;
            color: #202020;
            max-width: 1138px;
        }
        .footer_mobile-title {
            display: none;
        }

        .footer_app {
            margin-top: 32px;
            max-width: 355px;
            display: flex;
            gap: 37px;
    
        }

        > p {
            margin-top: 307px;
            margin-bottom: 0;
        }

        .footer_QR-code {
            box-sizing: border-box;
            position: absolute;
            top: 65px;
            right: 269px;
            width: 352px;
            height: 401px;
            text-align: center;
            padding: 44px;
            background-color: #FFFFFF;
            border-radius: 30px;
            z-index: 1;

            .QR-code_device {
                margin-top: 36px;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                color: #747474;
            }

            .QR-code_action {
                margin-top: 12px;
                font-size: 14px;
            }
        }

        .desctop {
            position: absolute;
            bottom: -20px;
            right: -20px;
        }

        .mobile {
            display: none;
        }
    }
}